section.banner-wrap
	.banner.home-banner
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
			.banner-caption
				.caption Sản phẩm mới
				.btn-wrap.text-center
					a.link(href="#!") Mua ngay
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
			.banner-caption
				.caption Sản phẩm mới
				.btn-wrap.text-center
					a.link(href="#!") Mua ngay
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
			.banner-caption
				.caption Sản phẩm mới
				.btn-wrap.text-center
					a.link(href="#!") Mua ngay