footer
	.footer-top
		.container
			.row
				.col-12.col-lg-4
					.footer-col
						.sitelogo
							a(href="#!")
								img(src="img/logo.png", alt="")
						.company Tập vỏ học sinh và VPP
						.about.text-center
							img(src="img/about.png", alt="")
				.col-12.col-lg-4
					.footer-col
						.footer-title CT TNHH Sản Xuất Thương Mại Tương Lai
						.footer-contact
							ul
								li <i class="fa fa-map-marker" aria-hidden="true"></i>
									|1717B Tỉnh Lộ 10, PhườngTân Tạo A, Q.Bình Tân Tp.HCM
								li <i class="fa fa-phone" aria-hidden="true"></i>
									|Hotline: 1900 636 946
									br
									|(028) 6272 7240 (Khách Hàng Doanh Nghiệp)
								li <i class="fa fa-envelope" aria-hidden="true"></i>
									|info@futurebook.vn
				.col-12.col-lg-4
					.footer-col
						.subscribe
							.module-title Đăng ký nhận bản tin
							.subscribefrm
								input(type="text" placeholder="Nhập email...")
								button.subscribebutton Gửi
						.social
							a(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-instagram" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-pinterest-p" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-youtube-play" aria-hidden="true"></i>
							a(href="#!")
								img(src="img/zalo.png", alt="")
	.footer-bottom
		.container
			.copyright © 2018 FUTUREBOOK. Tất cả quyền đều được bảo hộ. Thiết kế bởi Cánh Cam.