section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/03.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Hỏi đáp
.container
	.row
		.col-12.col-lg-9
			section.page-content.clearfix
				h1.page-title Hỏi đáp
				//- .newfaq
					.module-title Gửi câu hỏi
					.form-group
						input(type="text", placeholder="Họ và tên")
					.form-group
						input(type="text", placeholder="Tiêu đề")
					.form-group
						textarea(name="", cols="30", rows="10", placeholder="Nội dung...")
					input(type="submit", value="Gửi câu hỏi")
				.faqlist
					.faq
						.faqtitle Tôi muốn đặt mua sách và được giao tận nhà phải như thế nào ? 
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Làm sao để hủy đơn đặt hàng ?
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Tôi có thể thay đổi địa chỉ giao hàng hay phương thức thanh toán sau khi đã đặt hàng được không?
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Tôi có thể yêu cầu viết hóa đơn tài chính cho đơn hàng của mình không?
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Futurebook có giao hàng vào ngày thứ 7 và chủ nhật không?
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Đặc điểm tập vở tại FutureBook là gì ?
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Mua số lượng nhiều thì nhận giá ưu đãi như thế nào?
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Sản phẩm lò xo của FutureBook có những mẫu nào ? 
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Những loại văn phòng phẩm nào đang bán tại FutureBook ?
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Tôi muốn mia số lượng lớn tập học sinh thì phải mua như thế nào ?
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
		.col-12.col-lg-3
			//- nav.sidebar-category.clearfix
				.small-title Giới thiệu
				ul.sidebar-link
					li
						a(href="#") Về Sky Watch
					li 
						a(href="#") Hệ thống cửa hàng
					li 
						a(href="#") Tin tức
					li 
						a(href="#") Tuyển dụng
					li 
						a(href="#") Liên hệ
			nav.sidebar-category.clearfix
				//- .small-title Hỗ trợ khách hàng
				ul.sidebar-link
					li
						a(href="#") Hướng dẫn
					li.active
						a(href="#") Hỏi đáp
					li 
						a(href="#") Bảo hành