.row.no-gutters
	.col-12.col-lg-6
		section.home-cate
			a(href="#!")
				.cate-img
					img(src="img/banner/h1.jpg", alt="")
				.cate-name Tập dán gáy
	.col-12.col-lg-6
		section.home-cate
			a(href="#!")
				.cate-img
					img(src="img/banner/h2.jpg", alt="")
				.cate-name Tập dán gáy
	.col-12
		section.home-cate.cate2
			a(href="#!")
				.cate-img
					img(src="img/banner/h3.jpg", alt="")
				.cate-name Tập dán gáy
		section.home-cate.cate3
			a(href="#!")
				.cate-img
					img(src="img/banner/h4.jpg", alt="")
				.cate-name Tập dán gáy
		section.home-cate.cate4
			a(href="#!")
				.cate-img
					img(src="img/banner/h5.jpg", alt="")
				.cate-name Tập dán gáy
		section.home-cate.cate5
			a(href="#!")
				.cate-img
					img(src="img/banner/h6.jpg", alt="")
				//- .cate-name Tập dán gáy