section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/01.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Liên hệ
section.contact-page
	.container
		h1.page-title Liên hệ
		.row
			.col-12.col-lg-4
				.contact-info
					h2.company CT TNHH Sản xuất thương mại tương lai
					ul
						li
							.title Trụ sở chính:
							.des 
								strong Địa chỉ: 
								|1717B Tỉnh Lộ 10, Phường Tân Tạo A, Q.Bình Tân, TP.HCM
								br
								strong Điện thoại: 
								a(href="tel:(028) 6272 7240") (028) 6272 7240
								br
								strong Hotline: 
								a(href="tel:1900636946") 1900636946
								br
								strong Email: 
								a(href="mailto:info@futurebook.vn") info@futurebook.vn
						//- li
							.title Chi nhánh:
							.des 
								strong.text-uppercase Chi nhánh Bình Dương
								br
								strong Địa chỉ: 
								|1717B Tỉnh Lộ 10, PhườngTân Tạo A, Q.Bình Tân Tp.HCM
								br
								.btn-viewmap Xem bản đồ
								br
								strong Điện thoại: 
								a(href="tel:(028) 6272 7240") (028) 6272 7240
								//- br
								//- strong Fax: 
								//- |0988.12.12.12 
								br
								strong Email: 
								a(href="mailto:info@futurebook.vn") info@futurebook.vn
			.col-12.col-lg-8
				.contact-form
					.module-title Quý khách vui lòng điền thông tin vào mẫu bên dưới và gửi những góp ý, thắc mắc cho Kim Oanh Group, chúng tôi sẽ phản hồi email của Quý khách trong thời gian sớm nhất.
					.form-wrap
						.form-row
							.form-group.col-12.col-md-6
								input(type="text" placeholder="Họ và tên...")
							.form-group.col-12.col-md-6
								input(type="text" placeholder="Email...")
							.form-group.col-12.col-md-6
								input(type="text" placeholder="Tiêu đề...")
							.form-group.col-12.col-md-6
								input(type="text" placeholder="Số điện thoại...")
							.form-group.col-12
								textarea(name="", cols="", rows="10" placeholder="Nội dung...")
						.frm-btn
							input(type="submit", value="Gửi")
			.col-12
				.contact-map
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6765663511705!2d106.57406431538342!3d10.759390992333122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752cf961a8e9b5%3A0xa3a0639d89c3a645!2zMTcxN2IgVEwxMCwgVMOibiBU4bqhbyBBLCBCw6xuaCBUw6JuLCBI4buTIENow60gTWluaCA3MDAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1527215724035', width='100%', height='350', frameborder='0', style='border:0', allowfullscreen='')