//- section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/01.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Sản phẩm
.container
	section.product-page
		h1.page-title.text-center.text-uppercase Sản phẩm yêu thích
		.product-list
			.row
				.col-6.col-sm-4.col-md-3
					.product-col
						figure
							.promotion
								.new
									img(src="img/new.png", alt="")
							.product-btn
								a.product-img(href="#!")
									img(src="img/product/3.png", alt="")
								a.btn-buy(href="#!") Thêm vào giỏ
								a.btn-like(href="#!")
									img(src="img/wishlist.png", alt="")
							figcaption
								h2.product-name
									a(href="#!") ước mơ tuổi thơ 
								.product-id DKHS811D  |  96 Trang
								.product-price
									.new 8.400đ
				.col-6.col-sm-4.col-md-3
					.product-col
						figure
							.product-btn
								a.product-img(href="#!")
									img(src="img/product/3.png", alt="")
								a.btn-buy(href="#!") Thêm vào giỏ
								a.btn-like(href="#!")
									img(src="img/wishlist.png", alt="")
							figcaption
								h2.product-name
									a(href="#!") ước mơ tuổi thơ 
								.product-id DKHS811D  |  96 Trang
								.product-price
									.new 8.400đ
				.col-6.col-sm-4.col-md-3
					.product-col
						figure
							.product-btn
								a.product-img(href="#!")
									img(src="img/product/3.png", alt="")
								a.btn-buy(href="#!") Thêm vào giỏ
								a.btn-like(href="#!")
									img(src="img/wishlist.png", alt="")
							figcaption
								h2.product-name
									a(href="#!") ước mơ tuổi thơ 
								.product-id DKHS811D  |  96 Trang
								.product-price
									.new 8.400đ
				.col-6.col-sm-4.col-md-3
					.product-col
						figure
							.product-btn
								a.product-img(href="#!")
									img(src="img/product/3.png", alt="")
								a.btn-buy(href="#!") Thêm vào giỏ
								a.btn-like(href="#!")
									img(src="img/wishlist.png", alt="")
							figcaption
								h2.product-name
									a(href="#!") ước mơ tuổi thơ 
								.product-id DKHS811D  |  96 Trang
								.product-price
									.new 8.400đ
				.col-6.col-sm-4.col-md-3
					.product-col
						figure
							.promotion
								.new
									img(src="img/new.png", alt="")
							.product-btn
								a.product-img(href="#!")
									img(src="img/product/3.png", alt="")
								a.btn-buy(href="#!") Thêm vào giỏ
								a.btn-like(href="#!")
									img(src="img/wishlist.png", alt="")
							figcaption
								h2.product-name
									a(href="#!") ước mơ tuổi thơ 
								.product-id DKHS811D  |  96 Trang
								.product-price
									.new 8.400đ
				.col-6.col-sm-4.col-md-3
					.product-col
						figure
							.product-btn
								a.product-img(href="#!")
									img(src="img/product/3.png", alt="")
								a.btn-buy(href="#!") Thêm vào giỏ
								a.btn-like(href="#!")
									img(src="img/wishlist.png", alt="")
							figcaption
								h2.product-name
									a(href="#!") ước mơ tuổi thơ 
								.product-id DKHS811D  |  96 Trang
								.product-price
									.new 8.400đ
				.col-6.col-sm-4.col-md-3
					.product-col
						figure
							.product-btn
								a.product-img(href="#!")
									img(src="img/product/3.png", alt="")
								a.btn-buy(href="#!") Thêm vào giỏ
								a.btn-like(href="#!")
									img(src="img/wishlist.png", alt="")
							figcaption
								h2.product-name
									a(href="#!") ước mơ tuổi thơ 
								.product-id DKHS811D  |  96 Trang
								.product-price
									.new 8.400đ
				.col-6.col-sm-4.col-md-3
					.product-col
						figure
							.product-btn
								a.product-img(href="#!")
									img(src="img/product/3.png", alt="")
								a.btn-buy(href="#!") Thêm vào giỏ
								a.btn-like(href="#!")
									img(src="img/wishlist.png", alt="")
							figcaption
								h2.product-name
									a(href="#!") ước mơ tuổi thơ 
								.product-id DKHS811D  |  96 Trang
								.product-price
									.new 8.400đ
				.col-6.col-sm-4.col-md-3
					.product-col
						figure
							.promotion
								.new
									img(src="img/new.png", alt="")
							.product-btn
								a.product-img(href="#!")
									img(src="img/product/3.png", alt="")
								a.btn-buy(href="#!") Thêm vào giỏ
								a.btn-like(href="#!")
									img(src="img/wishlist.png", alt="")
							figcaption
								h2.product-name
									a(href="#!") ước mơ tuổi thơ 
								.product-id DKHS811D  |  96 Trang
								.product-price
									.new 8.400đ
				.col-6.col-sm-4.col-md-3
					.product-col
						figure
							.product-btn
								a.product-img(href="#!")
									img(src="img/product/3.png", alt="")
								a.btn-buy(href="#!") Thêm vào giỏ
								a.btn-like(href="#!")
									img(src="img/wishlist.png", alt="")
							figcaption
								h2.product-name
									a(href="#!") ước mơ tuổi thơ 
								.product-id DKHS811D  |  96 Trang
								.product-price
									.new 8.400đ
				.col-6.col-sm-4.col-md-3
					.product-col
						figure
							.product-btn
								a.product-img(href="#!")
									img(src="img/product/3.png", alt="")
								a.btn-buy(href="#!") Thêm vào giỏ
								a.btn-like(href="#!")
									img(src="img/wishlist.png", alt="")
							figcaption
								h2.product-name
									a(href="#!") ước mơ tuổi thơ 
								.product-id DKHS811D  |  96 Trang
								.product-price
									.new 8.400đ
				.col-6.col-sm-4.col-md-3
					.product-col
						figure
							.product-btn
								a.product-img(href="#!")
									img(src="img/product/3.png", alt="")
								a.btn-buy(href="#!") Thêm vào giỏ
								a.btn-like(href="#!")
									img(src="img/wishlist.png", alt="")
							figcaption
								h2.product-name
									a(href="#!") ước mơ tuổi thơ 
								.product-id DKHS811D  |  96 Trang
								.product-price
									.new 8.400đ
		//- .btn-wrap.text-center
			a.btn-loadmore(href="#!") Xem thêm
