section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/01.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Sản phẩm
.container
	section.product-page
		.product-detail
			.row
				.col-12.col-lg-6
					.product-slide-wrap
						a.btn-like(href="#!")
							img(src="img/wishlist.png", alt="")
						.product-nav
							.item
								.img
									img(src="img/product/img1.png", alt="")
							.item
								.img
									img(src="img/product/img1.png", alt="")
							.item
								.img
									img(src="img/product/img1.png", alt="")
							.item
								.img
									img(src="img/product/img1.png", alt="")
							.item
								.img
									img(src="img/product/img1.png", alt="")
						.product-slide
							.item
								a.img(href="img/product/img1.png" data-fancybox="")
									img(src="img/product/img1.png", alt="")
							.item
								a.img(href="img/product/img1.png" data-fancybox="")
									img(src="img/product/img1.png", alt="")
							.item
								a.img(href="img/product/img1.png" data-fancybox="")
									img(src="img/product/img1.png", alt="")
							.item
								a.img(href="img/product/img1.png" data-fancybox="")
									img(src="img/product/img1.png", alt="")
							.item
								a.img(href="img/product/img1.png" data-fancybox="")
									img(src="img/product/img1.png", alt="")
				.col-12.col-lg-6
					.product-info
						h1.product-name Tập Nhi Đồng 96 Trang (4 Ôly) - DKHS911C
						.product-price Giá
							.new 11.900 đ
						.product-btn
							.input-amount
								span.btn-dec -
								input(type="text" value="01")
								span.btn-inc +
							a.btn-buy(href="#!") Thêm vào giỏ hàng
						.share
							.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Chia sẻ
								.dropdown-menu(aria-labelledby='dropdownMenuLink')
									.social
										a(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
										a(href="#!") <i class="fa fa-instagram" aria-hidden="true"></i>
										a(href="#!") <i class="fa fa-pinterest-p" aria-hidden="true"></i>
										a(href="#!") <i class="fa fa-youtube-play" aria-hidden="true"></i>
										a(href="#!")
											img(src="img/zalo.png", alt="")
				.col-12
					.product-description
						#responsivetabs.responsivetabs
							ul.tabs-list
								li.tab-item
									a(href='#tab-1') Mô tả sản phẩm
								li.tab-item
									a(href='#tab-2') Chính sách vận chuyển
							section#tab-1.tab-content
								.content
									p 
										strong Chính sách
									p Bạn có thể trở lại mới nhất, các mục chưa mở trong vòng 30 ngày kể từ ngày giao hàng cho một khoản hoàn lại đầy đủ. Chúng tôi cũng sẽ trả chi phí vận chuyển trở lại nếu trở lại là một kết quả của lỗi của chúng tôi (bạn đã nhận được một món hàng không chính xác hoặc bị lỗi, vv).
									p Bạn sẽ được hoàn trả trong vòng bốn tuần lễ cho gói của bạn cho người giao hàng trở lại, tuy nhiên, trong nhiều trường hợp bạn sẽ nhận được một khoản hoàn lại nhanh hơn. Khoảng thời gian này bao gồm thời gian vận chuyển cho chúng tôi để nhận được sự trở lại của mình từ người giao hàng (5-10 ngày làm việc), thời gian cần chúng tôi để xử lý lại sau khi chúng tôi nhận được nó (3-5 ngày làm việc), và thời gian cần ngân hàng của bạn để xử lý yêu cầu hoàn trả của chúng tôi (5-10 ngày làm việc).
									p Nếu bạn cần phải trả lại một mục, chỉ cần đăng nhập vào tài khoản của bạn, xem theo thứ tự bằng cách sử dụng liên kết 'Toàn bộ đơn đặt hàng' dưới menu Tài khoản của tôi và nhấp vào nút Return Item (s). Chúng tôi sẽ thông báo cho bạn qua e-mail bạn được hoàn trả sau khi chúng tôi nhận và xử lý các mục trở lại.
									p Xin lưu ý rằng các vận chuyển cho nhiều mặt hàng chúng tôi bán được theo cân nặng. Trọng lượng của bất kỳ sản phẩm có thể được tìm thấy trên trang chi tiết của nó. Để phản ánh các chính sách của công ty vận chuyển chúng tôi sử dụng, tất cả các trọng sẽ được làm tròn đến po đầy đủ tiếp theo
							section#tab-2.tab-content
								.content
									p 
										strong Chính sách
									p Bạn có thể trở lại mới nhất, các mục chưa mở trong vòng 30 ngày kể từ ngày giao hàng cho một khoản hoàn lại đầy đủ. Chúng tôi cũng sẽ trả chi phí vận chuyển trở lại nếu trở lại là một kết quả của lỗi của chúng tôi (bạn đã nhận được một món hàng không chính xác hoặc bị lỗi, vv).
									p Bạn sẽ được hoàn trả trong vòng bốn tuần lễ cho gói của bạn cho người giao hàng trở lại, tuy nhiên, trong nhiều trường hợp bạn sẽ nhận được một khoản hoàn lại nhanh hơn. Khoảng thời gian này bao gồm thời gian vận chuyển cho chúng tôi để nhận được sự trở lại của mình từ người giao hàng (5-10 ngày làm việc), thời gian cần chúng tôi để xử lý lại sau khi chúng tôi nhận được nó (3-5 ngày làm việc), và thời gian cần ngân hàng của bạn để xử lý yêu cầu hoàn trả của chúng tôi (5-10 ngày làm việc).
									p Nếu bạn cần phải trả lại một mục, chỉ cần đăng nhập vào tài khoản của bạn, xem theo thứ tự bằng cách sử dụng liên kết 'Toàn bộ đơn đặt hàng' dưới menu Tài khoản của tôi và nhấp vào nút Return Item (s). Chúng tôi sẽ thông báo cho bạn qua e-mail bạn được hoàn trả sau khi chúng tôi nhận và xử lý các mục trở lại.
									p Xin lưu ý rằng các vận chuyển cho nhiều mặt hàng chúng tôi bán được theo cân nặng. Trọng lượng của bất kỳ sản phẩm có thể được tìm thấy trên trang chi tiết của nó. Để phản ánh các chính sách của công ty vận chuyển chúng tôi sử dụng, tất cả các trọng sẽ được làm tròn đến po đầy đủ tiếp theo
				.col-12
					.product-other
						h2.page-title.text-center.text-uppercase Sản phẩm khác
						.product-list.product-slick
							.item
								.product-col
									figure
										.promotion
											.new
												img(src="img/new.png", alt="")
										.product-btn
											a.product-img(href="#!")
												img(src="img/product/3.png", alt="")
											a.btn-buy(href="#!") Thêm vào giỏ
											a.btn-like(href="#!")
												img(src="img/wishlist.png", alt="")
										figcaption
											h2.product-name
												a(href="#!") ước mơ tuổi thơ 
											.product-id DKHS811D  |  96 Trang
											.product-price
												.new 8.400đ
							.item
								.product-col
									figure
										.product-btn
											a.product-img(href="#!")
												img(src="img/product/3.png", alt="")
											a.btn-buy(href="#!") Thêm vào giỏ
											a.btn-like(href="#!")
												img(src="img/wishlist.png", alt="")
										figcaption
											h2.product-name
												a(href="#!") ước mơ tuổi thơ 
											.product-id DKHS811D  |  96 Trang
											.product-price
												.new 8.400đ
							.item
								.product-col
									figure
										.product-btn
											a.product-img(href="#!")
												img(src="img/product/3.png", alt="")
											a.btn-buy(href="#!") Thêm vào giỏ
											a.btn-like(href="#!")
												img(src="img/wishlist.png", alt="")
										figcaption
											h2.product-name
												a(href="#!") ước mơ tuổi thơ 
											.product-id DKHS811D  |  96 Trang
											.product-price
												.new 8.400đ
							.item
								.product-col
									figure
										.product-btn
											a.product-img(href="#!")
												img(src="img/product/3.png", alt="")
											a.btn-buy(href="#!") Thêm vào giỏ
											a.btn-like(href="#!")
												img(src="img/wishlist.png", alt="")
										figcaption
											h2.product-name
												a(href="#!") ước mơ tuổi thơ 
											.product-id DKHS811D  |  96 Trang
											.product-price
												.new 8.400đ
							.item
								.product-col
									figure
										.promotion
											.new
												img(src="img/new.png", alt="")
										.product-btn
											a.product-img(href="#!")
												img(src="img/product/3.png", alt="")
											a.btn-buy(href="#!") Thêm vào giỏ
											a.btn-like(href="#!")
												img(src="img/wishlist.png", alt="")
										figcaption
											h2.product-name
												a(href="#!") ước mơ tuổi thơ 
											.product-id DKHS811D  |  96 Trang
											.product-price
												.new 8.400đ
							.item
								.product-col
									figure
										.product-btn
											a.product-img(href="#!")
												img(src="img/product/3.png", alt="")
											a.btn-buy(href="#!") Thêm vào giỏ
											a.btn-like(href="#!")
												img(src="img/wishlist.png", alt="")
										figcaption
											h2.product-name
												a(href="#!") ước mơ tuổi thơ 
											.product-id DKHS811D  |  96 Trang
											.product-price
												.new 8.400đ