section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/04.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Tin tức
section.news-page
	.container
		h1.page-title Tin tức
		//- ul.home-tab
			li.active
				a(href="#!") Tin hoạt động doanh nghiệp
			li
				a(href="#!") tin thị trường
			li
				a(href="#!") Tin quỹ từ thiện
			li
				a(href="#!") Bản tin kinh doanh
		section.hot-news
			.row
				.col-12.col-lg-6
					.news-col.big
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") Những bộ đồ dùng học tập tiện lợi cho trẻ vào năm học mới
								.news-des Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde vitae libero porro nisi alias magni officiis non esse recusandae itaque!
				.col-12.col-lg-6
					.row
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/2.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#!") Những đồ dùng học tập độc đáo nhiều tính năng
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/3.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#!") 4 lý do máy tính bảng, smartphone chưa thể “đẩy lùi” bút viết
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/4.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#!") Kinh nghiệm mở cửa hàng văn phòng phẩm 
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/5.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#!") Kệ tủ hỗ trợ chưng sản phẩm văn phòng phẩm cho nhà sách và cửa hàng 
				.col-12.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/6.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") Câu chuyện đằng sau chế tác của những cây bút nổi tiếng nhất thế giới 
				.col-12.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/7.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") 80.000 giáo viên mong muốn gì ở một lớp học hoàn hảo 
				.col-12.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/8.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") 7 bước thành công khi kinh doanh văn phòng phẩm 
				.col-12.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/9.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") 7 bước thành công khi kinh doanh văn phòng phẩm 
				.col-12.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/10.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") 7 bước thành công khi kinh doanh văn phòng phẩm 
				.col-12.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/11.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") 7 bước thành công khi kinh doanh văn phòng phẩm 
				.col-12.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/12.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") 7 bước thành công khi kinh doanh văn phòng phẩm 
				.col-12.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/13.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") 7 bước thành công khi kinh doanh văn phòng phẩm 
.pages
	ul.pagination
		li.active
			a(href="#!") 1
		li
			a(href="#!") 2
		li
			a(href="#!") 3
		li
			a(href="#!") 4