section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/04.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Tin tức
section.news-page
	.container
		.row
			.col-12.col-lg-8.col-xl-9
				section.news-detail
					h1.news-name Nhà văn Gào ra mắt sách "Mẹ, em bé và bố"
					.news-info
						time 28/12/2017
					.content
						p
							strong ANTD.VN -Sau buổi ra mắt tại Hà Nội, nhà văn Gào tiếp tục giới thiệu quyển sách "Mẹ, em bé và bố" viết về gia đình nhỏ của mình, tại TP Hồ Chí Minh. 
						p Sau buổi ra mắt sách “Mẹ, em bé và bố” tại Hà Nội, nữ nhà văn Gào đã giới thiệu đứa con tinh thần về gia đình được ấp ủ nhiều năm qua tại TP Hồ Chí Minh. Buổi ra mắt có sự xuất hiện của B Trần, Mlee, gia đình người mẫu Cao Lâm Viên, nhà văn Nguyễn Ngọc Thạch, MC – nhà báo Thuỳ Minh, Jun (nhóm 365), đạo diễn Vũ Ngọc Phượng, Mina Liêu... cùng gia đình nhỏ của Gào và những người bạn thân khác.
						figure
							img(src="img/news/img1.jpg", alt="")
						p Vốn được khán giả yêu mến và nhớ đến thông qua những tác phẩm, truyện về tình yêu đôi lứa, nhưng "Mẹ, em bé và bố" lại là một mảng khác trong đời sống của Gào, đó chính là gia đình. Nữ nhà văn từng chia sẻ: "Bây giờ, tôi viết về gia đình, là một thứ tôi hy vọng, bền vững hơn tình yêu chớm nở. Tình yêu dễ đổi thay. Nhưng nếu tình yêu ấy đi đến cái đích này - gia đình. Thì hy vọng chúng ta có thể luôn vì nó mà cố gắng, vì nó mà trưởng thành….”
						p Đây cũng là đứa con tinh thần đánh dấu một hình ảnh mới mẻ của Gào: một người con gái – người vợ - người mẹ. Ngay khi vừa ra mắt, quyển sách đã nhanh chóng được khán giả đón nhận, hiện nay đã có hơn 10.000 quyển đã được bán chỉ trong vòng 4 ngày.
						p "Mẹ, em bé và bố" được ấp ủ suốt 5 năm. Ý tưởng cuốn sách được bắt đầu khi Gào sinh con gái đầu lòng, muốn coi đó như một món quà dành tặng Bìn khi tròn một tuổi. Nhưng vì nhiều lý do, khi Gào đã sinh con trai thứ hai và đang mang thai em bé thứ 3, cuốn sách mới được ra mắt độc giả.
						figure
							img(src="img/news/img2.jpg", alt="")
						p 5 năm làm vợ, làm mẹ đã cho Gào nhiều trải nghiệm, kinh nghiệm để từ một người con gái còn trẻ, yêu cuồng nhiệt, đổ vỡ và tổn thương trở thành một người phụ nữ nhẹ nhàng, tình cảm trong câu chữ, trong đời sống.
						p Đó là cảm giác “biết ơn” người đàn ông sẽ đi cùng mình đến cuối hành trình dài rộng. Dù trước đây đã nhọc lòng níu kéo và buông bỏ, cố chấp và u buồn. Câu chuyện tình yêu của Gào và Tú – nhân vật bố trong cuốn sách không chỉ giúp độc giả hiểu rõ hơn về đời sống cá nhân nhiều thăng trầm được mất của tác giả mà còn mang đến bài học về sự vị tha, tin tưởng.
						p Xen lẫn trong dòng cảm xúc đó, là niềm hạnh phúc đến chẳng thốt nên lời khi ông trời đã mang đến cho người bố, người mẹ những thiên thần. Khoảnh khắc Bìn (con gái của Gào - PV) cất tiếng khóc chào đời, bước những bước chân chập chững dưới bàn tay nắm chặt dìu dắt của bố, sẽ lan tỏa sự ấm áp và yêu thương như một thứ năng lượng diệu kì hôm nay, ngày mai… để bạn nhận ra rằng “mọi khó khăn trong gia đình, công việc đều nhỏ bé so với hạnh phúc được làm Mẹ của các con”.
						figure
							img(src="img/news/img3.jpg", alt="")
					.share
						img(src="img/share.jpg", alt="")
			.col-12.col-lg-4.col-xl-3
				.news-sidebar
					h3.small-title Tin mới nhất
					.post-list
						a.post
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Đồng Nai sẽ trở thành trung tâm Logistics vùng
						a.post
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Đồng Nai sẽ trở thành trung tâm Logistics vùng
						a.post
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Đồng Nai sẽ trở thành trung tâm Logistics vùng
						a.post
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Đồng Nai sẽ trở thành trung tâm Logistics vùng
						a.post
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Đồng Nai sẽ trở thành trung tâm Logistics vùng